@font-face {
  font-family: "Selecta";
  src: url(/fonts/SelectaTrial-Regular.woff) format("woff"),
    url(/fonts/SelectaTrial-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Selecta";
  src: url(/fonts/SelectaTrial-Light.woff) format("woff"),
    url(/fonts/SelectaTrial-Light.woff2) format("woff2");
  font-weight: 200;
}
body {
  font-family: "Selecta";
}
